.player-container {
  width: 640px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 10;
  gap: 1rem;
}

.controls {
  box-sizing: border-box;
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 1.5rem;
}
